<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>中医诊疗辅助系统 - 用户登录</title>
</head>
<body>
  <form>
    <p>
      <label id="inputHint"></label>
    </p>
    <p>
      <input type="text" id="userid" placeholder="userid" />
    </p>
    <p>
      <input type="password" id="password" placeholder="password" />
    </p>
    <p>
      <input type="submit" id="login" value="Login">
    </p>
  </form>
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/login.js"></script>
</body>
</html>
