<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>中医诊疗辅助系统</title>
  <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
  <link href="flat-ui/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="flat-ui/dist/css/flat-ui.css" rel="stylesheet">
  <link href="css/instance.css" rel="stylesheet">
  <link href="css/buttons.css" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">     <!-- 登录后的导航栏 -->
    <div class="container">
      <div class="navbar-header">      <!-- 导航栏的标题 -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">  <!-- 为了添加响应式特性 -->
          <span class="sr-only">Toggle navigation</span>  <!-- .sr-only 用于屏幕阅读器，帮助残障人士更好的访问网站。 -->
        </button>
        <a class="navbar-brand">中医诊疗辅助系统</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li id="nav-diagnose"><a href="diagnose">诊断</a></li>
          <li id="nav-instance" class="active"><a href="">病例</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户管理 <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">修改密码</a></li>
              <li><a href="#">修改资料</a></li>
              <li><a href="#">用户升级</a></li>
              <li><a href="#">退出</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-12">
          <h4 class="headline-instance col-lg-2">我的病例</h4>
          <button type="button" id="add-instance" class="btn button-pill button-glow btn-primary btn-sm">添加病例</button>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>症状</th>
                <th>结果</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>头疼 发热 恶寒 咳嗽</td>
                <td>桂枝汤症</td>
                <td>
                  <button type="button" id="change-instance" class="btn btn-link">修改</button>
                  <button type="button" id="delete-instance" class="btn btn-link">删除</button>
                </td>
              </tr>
              <tr>
                <td>头疼 发热 恶寒 咳嗽</td>
                <td>桂枝汤症</td>
                <td>
                  <button type="button" id="change-instance" class="btn btn-link">修改</button>
                  <button type="button" id="delete-instance" class="btn btn-link">删除</button>
                </td>
              </tr>
              <tr>
                <td>头疼 发热 恶寒 咳嗽</td>
                <td>桂枝汤症</td>
                <td>
                  <button type="button" id="change-instance" class="btn btn-link">修改</button>
                  <button type="button" id="delete-instance" class="btn btn-link">删除</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="add" class="row" style="">
      <div class="col-md-5">
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-12">
              <h4 class="headline-selected">已选症状</h4>
              <div class="tagsinput-primary">
                <input id="tags-selected" type="text" class="tagsinput input-lg" value="" placeholder='添加新症状';>
              </div>
              <h4 class="headline-selected">诊断结果</h4>
              <div class="tagsinput-primary">
                <input id="tags-result" type="text" class="tagsinput input-lg" value="" placeholder='添加结果';>
              </div>
              <div>
                <button type="submit" id="submit-add" class="btn button-pill btn-sm btn-primary btn-block">添加</button>
              </div>
              <div>
                <button type="submit" id="submit-reset" class="btn button-pill btn-sm btn-warning btn-block">重置</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-12" id="symptoms">
              <h4 class="headline-symptom">选择症状</h4>
            </div>
          </div>
        </div>
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-12" id="results">
              <h4 class="headline-result">选择结果</h4>
            </div>
          </div>
      </div>
    </div>


  </div>
  <script src="/flat-ui/dist/js/vendor/jquery.min.js"></script>
  <script src="/typeahead.js/dist/typeahead.bundle.js"></script>
  <script src="/flat-ui/dist/js/flat-ui.min.js"></script>
  <script src="/js/instance.js"></script>
</body>
</html>
